
<div class="country-name">
    <img class="flag" src="{{flags.svg}}" alt="{{name.common}}" width="50" height="50">
    <h2>{{name.official}}</h2>
</div>
<p class="capital">Capital: <span class="card-accent">{{capital}}</span></p>
<p class="population">Population: <span class="card-accent">{{population}}</span></p>
<div class="languages-box">
    <p>Languages: </p>
    {{#each languages}}
    <p class="list-group-item"><span class="card-accent">{{this}}</span>{{#unless @last}},{{/unless}}</p>
    {{/each}}
</div>